html {
  font-size: 66.67%;
}

body {
  margin: 0 !important;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #545454;
  height: auto;
}

.Content {
  position: relative;
  width: 50rem;
  background-color: white;
  border: 0.1rem solid #d9d9d9;
}

.Home {
  margin: 1.4rem;
  height: 100vh;
}

.Home-verify {
  display: flex;
  justify-content: start;
}

.verify-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.8rem;
  height: 5.8rem;
  border-radius: 5rem;
  border: 0.35rem solid #2676b2;
}

.verify-icon {
  width: 2.5rem;
}

.verify-info {
  margin-left: 0.7rem;
}

.verify-info .id {
  margin: 0.5rem 0 0 0;
  font-size: 1.5rem;
}

.verify-info .thank {
  margin: 1rem 0 0 0;
  font-size: 2.4rem;
}

.Home-confirm {
  margin-top: 2.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #d9d9d9;
  padding: 1.4rem;
}

.Home-confirm .message-1 {
  font-size: 1.7rem;
  margin-top: 0;
  margin-bottom: 0;
}

.Home-confirm .message-2 {
  font-size: 1.4rem;
  margin-top: 0.7rem;
}

.Home-confirm .button {
  width: 100%;
  height: 4rem;
  border: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: rgba(234, 156, 182, 0.5);
  border-radius: 0.5rem;
}

.Home-shops {
  margin-top: 2.4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #d9d9d9;
}

.Home-shops .shops {
  margin: 2.6rem 2.6rem 1.5rem 2.6rem;
  display: flex;
  justify-content: space-between;
}

.Home-shops .shops .shop img {
  cursor: pointer;
  width: 9rem;
  height: 9rem;
}

.Home-shops .shops .shop p {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.Home-shops .power {
  margin: 0 0 1rem 1rem;
  font-size: 1rem;
}

.Story {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Story .story-item {
  position: relative;
}

.Story .story-img {
  width: 100%;
  height: 100%;
}

.Story .close-img {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }

  .App {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .Content {
    width: 100vw;
    height: 100vh;
    border: 0;
  }
  
  .Home {
    height: fit-content;
  }

  .Story .story-form {
    height: 100%;
  }

  .Story .story-item {
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 40%;
  }
}