body {
  margin: 0 !important;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #545454;
  height: auto;
}

.Content {
  position: relative;
  width: 500px;
  background-color: white;
  border: 1px solid #d9d9d9;
}

.Home {
  margin: 14px;
  height: 100vh;
}

.Home-verify {
  display: flex;
  justify-content: start;
}

.verify-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border-radius: 50px;
  border: 3.5px solid #2676b2;
}

.verify-icon {
  width: 25px;
}

.verify-info {
  margin-left: 7px;
}

.verify-info .id {
  margin: 5px 0 0 0;
  font-size: 15px;
}

.verify-info .thank {
  margin: 10px 0 0 0;
  font-size: 24px;
}

.Home-confirm {
  margin-top: 24px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 14px;
}

.Home-confirm .message-1 {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0;
}

.Home-confirm .message-2 {
  font-size: 14px;
  margin-top: 7px;
}

.Home-confirm .button {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  background-color: rgba(234, 156, 182, 0.5);
  border-radius: 5px;
}

.Home-shops {
  margin-top: 24px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.Home-shops .shops {
  margin: 26px 26px 15px 26px;
  display: flex;
  justify-content: space-between;
}

.Home-shops .shops .shop img {
  cursor: pointer;
  width: 90px;
  height: 90px;
}

.Home-shops .shops .shop p {
  text-align: center;
  font-weight: 700;
  font-size: 10px;
}

.Home-shops .power {
  margin: 0 0 10px 10px;
  font-size: 10px;
}

.Story {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Story .story-item {
  position: relative;
}

.Story .story-img {
  width: 100%;
  height: 100%;
}

.Story .close-img {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }


  .Content {
    width: 100vw;
    height: 100vh;
    border: 0;
  }
  
  .Home {
    height: fit-content;
  }

  .Story .story-form {
    height: 100%;
  }

  .Story .story-item {
    height: 100%;
  }
}
